@charset "UTF-8";
body {
  margin: 0;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: #e5e5e5;
}

body.modal-open {
  overflow: hidden;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ширина в макеті 1170пікс + по 15пікс по півгаттера справа та зліва, щоб текст не прилипав до краю */
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

/* Button */
.button, .button--primary {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button--primary:hover, .button:focus, .button--primary:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* BUTTON HERO  */
.button--primary {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
}

/* BUTTON in MODAL-FORM  */
.modal-form .button--primary {
  display: block;
  width: 200px;
  margin: 0 auto;
}

/* BUTTON in FOOTER-FORM  */
.footer-form .button--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.button-icon {
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-studio.inverse {
  color: #ffffff;
}

.logo:hover > .logo-studio,
.logo:focus > .logo-studio {
  color: #2196f3;
}

/* SOCIAL ICONS*/
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.footer .social-list {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer .social-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 0;
  }
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer .social-link:hover, .footer .social-link:focus {
  background-color: #2196f3;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(calc(50% + 2px), calc(50% + 2px));
          transform: translate(calc(50% + 2px), calc(50% + 2px));
}

.header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button .icon-close {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-open {
  display: none;
}

.menu-container {
  background-color: #ffffff;
}

@media screen and (max-width: calc(768px - 1px)) {
  .menu-container {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    margin-left: 93px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: calc(768px - 1px)) {
  .site-nav {
    margin-bottom: 60px;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
}

.site-nav .link {
  position: relative;
  display: block;
  padding-bottom: 8px;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  opacity: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::after {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-contact .item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .site-contact {
    margin-left: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .site-contact .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-contact .item:not(:last-child) {
    margin-bottom: 0;
  }
  .site-contact .item + .item {
    margin-left: 50px;
  }
}

.site-contact .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contact .link:hover, .site-contact .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-contact .link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contact .link:hover .contact-icon,
.site-contact .link:focus .contact-icon {
  fill: #2196f3;
}

/*///// HERO - section /////*/
.hero {
  margin: 0 auto;
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-overlay {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-480@1x.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-480@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-480@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-480@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-480@3x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-480@3x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 480px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-768@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-768@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-768@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-768@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 3), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 480px) and (min-resolution: 288dpi), screen and (min-width: 480px) and (min-resolution: 3dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-768@3x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-768@3x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-1600@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-1600@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-1600@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-1600@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-1600@3x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-1600@3x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero-overlay {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/*////////////////////////////////*/
/*///// ADVANTEGES - section /////*/
.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .advantages-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: calc(1200px - 1px)) {
  .advantages-list .item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages-list .item {
    /* $row_item - к-во блоков в один ряд в портфолио */
    /* $margin_width - ширина марджина між item */
    width: calc((100% - (2 - 1) * 30px) / 2);
  }
  .advantages-list .item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .advantages-list .item {
    /* $row_item - к-во блоков в один ряд в портфолио */
    /* $margin_width - ширина марджина між item */
    width: calc((100% - (4 - 1) * 30px) / 4);
  }
  .advantages-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages-list .title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: calc(768px - 1px)) {
  .advantages-list .title {
    text-align: center;
  }
}

.advantages-list .text {
  font-size: 14px;
  line-height: 1.71;
}

.advantages-background {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages-icon {
  -webkit-transform: translate(calc(50% - 35px), calc(50% - 35px));
          transform: translate(calc(50% - 35px), calc(50% - 35px));
}

/*////////////////////////////////*/
/*///// WORK - section /////*/
.work {
  padding-bottom: 94px;
}

@media screen and (max-width: calc(1200px - 1px)) {
  .work {
    display: none;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list .item + .item {
  margin-left: 30px;
}

.work-list .item {
  position: relative;
}

.work-list .title {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

/*////////////////////////////////*/
/*///// COMMAND - section /////*/
.command {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: calc(768px - 1px)) {
  .command-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: calc(1200px - 1px)) {
  .command-list .item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .command-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .command-list .item {
    /* $row_item - к-во блоков в один ряд в портфолио */
    /* $margin_width - ширина марджина між item */
    width: calc((100% - (2 - 1) * 30px) / 2);
  }
  .command-list .item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .command-list .item {
    /* $row_item - к-во блоков в один ряд в портфолио */
    /* $margin_width - ширина марджина між item */
    width: calc((100% - (4 - 1) * 30px) / 4);
  }
  .command-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.command-list .item {
  text-align: center;
  background-color: var(--primary-white-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.command-list .title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command-list .text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.command-card-content {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .command-card-content {
    padding-bottom: 30px;
  }
}

/*////////////////////////////////*/
/*///// CLIENTS - section /////*/
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-list .item {
  /* $row_item - к-во блоков в один ряд в портфолио */
  /* $margin_width - ширина марджина між item */
  width: calc((100% - (2 * 2) * 15px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-list .item {
    /* $row_item - к-во блоков в один ряд в портфолио */
    /* $margin_width - ширина марджина між item */
    width: calc((100% - (3 * 2) * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .clients-list .item {
    /* $row_item - к-во блоков в один ряд в портфолио */
    /* $margin_width - ширина марджина між item */
    width: calc((100% - (6 * 2) * 15px) / 6);
  }
}

.clients-link {
  display: block;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-icon {
  display: block;
  margin: 0 auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  fill: #afb1b8;
}

/* модальне вікно */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  padding-top: 93px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 93px;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.modal {
  position: relative;
  max-width: 460px;
  /*не 450 бо не влазить стрічка з чекбоксом*/
  padding: 40px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal .section-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 528px;
  }
  .modal .section-title {
    line-height: 1.15;
  }
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 10px;
}

.form-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline-color: #2196f3;
}

.form-input:hover {
  border-color: #2196f3;
}

.form-icon {
  position: absolute;
  bottom: 21px;
  left: 21px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: #2196f3;
}

.form-textarea {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  outline-color: #2196f3;
}

.form-textarea:hover {
  border: 1px solid #2196f3;
}

.form-textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.form-input_checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  fill: #ffffff;
  border-radius: 2px;
  border: 2px solid #212121;
  -webkit-transition-property: border, background-color;
  transition-property: border, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:hover .checkbox-icon {
  border: 2px solid #2196f3;
}

.form-input_checkbox:checked + .checkbox-icon {
  border: 0px solid #2196f3;
  background: #2196f3;
}

.form-text_checkbox {
  display: inline;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .form-text_checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-text_link {
  color: #2196f3;
}

/* кнопка Х - закрити модальне вікно */
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal-close-x {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 11px;
  height: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-x,
.modal-close:focus .modal-close-x {
  fill: #2196f3;
}

/* FOOTER  */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  background-color: #2f303a;
}

.footer .title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer .title {
    padding-top: 12px;
  }
}

.footer-list, .half-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list .item, .half-list .item {
  text-align: center;
  display: block;
  width: 100%;
}

.half-list .item {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .half-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .half-list .item {
    /* $row_item - к-во блоков в один ряд в портфолио */
    /* $margin_width - ширина марджина між item */
    width: calc((100% - (2 - 1) * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer-list, .half-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-list .item, .half-list .item {
    text-align: left;
    /* $row_item - к-во блоков в один ряд в портфолио */
    /* $margin_width - ширина марджина між item */
    width: calc((100% - (2 - 1) * 30px) / 2);
  }
  .footer-list .item + .item, .half-list .item + .item {
    margin-left: 30px;
  }
  .half-list {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .half-list .item + .item {
    margin-left: 30px;
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address .link {
  display: block;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover, .address .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .address .link {
    margin-top: 9px;
  }
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: calc(1200px - 1px)) {
  .footer-form {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-input {
  margin-bottom: 20px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}

.footer-input:focus {
  outline-color: #2196f3;
}

.footer-input:hover {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-right: 12px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */