/* FOOTER  */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  color: getColor("primary-white");
  background-color: getColor("secondary-background");

  & .title {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
      padding-top: 12px;
    }
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .item {
    text-align: center;
    display: block;
    width: 100%;
  }
}

.half-list {
  @extend .footer-list;

  & .item {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: $tablet) {
  .half-list {
    flex-direction: row;
    justify-content: center;

    & .item {
      @include itemWidth(2);
    }
  }
}

@media screen and (min-width: $desktop) {
  .footer-list {
    flex-direction: row;
    align-items: baseline;

    & .item {
      text-align: left;
      @include itemWidth(2);
    }

    & .item + .item {
      margin-left: 30px;
    }
  }

  .half-list {
    align-items: baseline;

    & .item + .item {
      margin-left: 30px;
    }
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address .link {
  display: block;
  margin-top: 8px;
  color: getColor("address-link-text");
  @include transition(color);

  &:hover,
  &:focus {
    color: getColor("accent");
  }

  @media screen and (min-width: $desktop) {
    margin-top: 9px;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: calc(#{$desktop} - 1px)) {
    max-width: 450px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.footer-input {
  margin-bottom: 20px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid getColor("footer-input-border");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;

  &:focus {
    outline-color: getColor("accent");
  }
  &:hover {
    border: 1px solid getColor("accent");
  }

  @media screen and (min-width: $desktop) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}
