@mixin transition(
  $property,
  $duration: 250ms,
  $timeFunc: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timeFunc;
}

@mixin transitionTwoProp(
  $property1,
  $property2,
  $duration: 250ms,
  $timeFunc: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition-property: $property1, $property2;
  transition-duration: $duration;
  transition-timing-function: $timeFunc;
}

@mixin transitionThreeProp(
  $property1,
  $property2,
  $property3,
  $duration: 250ms,
  $timeFunc: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition-property: $property1, $property2, $property3;
  transition-duration: $duration;
  transition-timing-function: $timeFunc;
}

@mixin itemWidth($row_item, $margin_width: 30px) {
  /* $row_item - к-во блоков в один ряд в портфолио */
  /* $margin_width - ширина марджина між item */
  width: calc((100% - (#{$row_item} - 1) * #{$margin_width}) / #{$row_item});
}

@mixin itemWidthMargin($row_item, $margin_width: 15px) {
  /* $row_item - к-во блоков в один ряд в портфолио */
  /* $margin_width - ширина марджина між item */
  width: calc((100% - (#{$row_item} * 2) * #{$margin_width}) / #{$row_item});
}

@mixin heroBGImage($url) {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
